{% extends "bindex.html" %}
{% block title %}用例信息{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="admin-biaogelist">

        <div class="listbiaoti am-cf">
            <ul class="am-icon-flag on"> 用例编辑</ul>
            <dl class="am-icon-home" style="float: right;">当前位置： 用例管理 > <a href="#">修改用例</a></dl>
        </div>

        <div class="am-tabs am-margin">
            <ul class="am-tabs-nav am-nav am-nav-tabs" id="tab-test">
                <li><a href="javascript:;" data-target="#tab1">用例信息</a></li>
                <li><a href="javascript:;" data-target="#tab2">request</a></li>
                <li><a href="javascript:;" data-target="#tab3">response</a></li>
            </ul>

            <div class="am-tabs-bd">
                <div class="am-tab-panel" id="tab1">
                    <form class="form-horizontal" id="form_message">
                        <div class="form-group">
                            <div class="input-group col-md-4 col-md-offset-1">
                                <div class="input-group-addon" style="color: #0a628f">用例名称</div>
                                <input type="text" class="form-control" id="case_name" name="case_name"
                                       placeholder="用例名称" value="{{ info.name }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group col-md-4 col-md-offset-1">
                                <div class="input-group-addon" style="color: #0a628f">所属项目</div>
                                <select id='project' name="project" class="form-control"
                                        onchange="auto_load('#form_message', '/api/add_case/', '#belong_module_id', 'module')
                                        auto_load('#form_message', '/api/add_case/', '#config', 'config')">
                                    <option value="请选择">请选择</option>
                                    {% for foo in projectlist %}
                                        <option value="{{ foo.project_name }}">{{ foo.project_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group col-md-4 col-md-offset-1">
                                <div class="input-group-addon" style="color: #0a628f">编写人员</div>
                                <input type="text" class="form-control" id="author" name="author"
                                       placeholder="用例编写人员" value="{{ info.author }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group col-md-4 col-md-offset-1">
                                <div class="input-group-addon" id="close_collapse" style="color: #0a628f">前置条件</div>

                                <a class="am-btn am-btn-primary am-radius am-btn-block" href="#" id="pre_collapse"
                                   style="font-size: 16px; background-color: #fff; color: #555; text-align: left"
                                   data-am-collapse="{target: '#pre_case'}">
                                    依 赖 用 例 执 行 顺 序
                                </a>
                                <nav>
                                    <ul id="pre_case" class="am-nav am-collapse">

                                    </ul>
                                </nav>

                            </div>
                        </div>

                    </form>
                </div>

                <div class="am-tab-panel" id="tab2">
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">URL</div>
                                <input type="text" class="form-control am-input-sm " placeholder="api url"
                                       name="url"
                                       id="url" value="{{ request.request.url }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Method</div>
                                <select class="form-control" name="method" id="method">
                                    <option>GET</option>
                                    <option>POST</option>
                                    <option>DELETE</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon">Type</div>
                                <select class="form-control" name="DataType" id="DataType">
                                    {% if 'data' in request.request.keys %}
                                        <option selected>data</option>
                                        <option>json</option>
                                        <option>params</option>
                                    {% elif 'json' in request.request.keys %}
                                        <option selected>json</option>
                                        <option>data</option>
                                        <option>params</option>
                                    {% elif 'params' in request.request.keys %}
                                        <option selected>params</option>
                                        <option>data</option>
                                        <option>json</option>
                                    {% else %}
                                        <option>data</option>
                                        <option>json</option>
                                        <option>params</option>

                                    {% endif %}
                                </select>
                            </div>
                        </div>

                        <button class="btn btn-success" value="调试" onclick="run_case()">调试</button>
                        <button class="btn btn-info" value="添 加" onclick="add_row('header')">add headers</button>
                        <button class="btn btn-danger" value="删 除" onclick="del_row('header')">del headers</button>
                        <button class="btn btn-info" value="添 加" onclick="add_row('data')" id="add_data">
                                add data</button>
                        <button class="btn btn-danger" value="删 除" onclick="del_row('data')" id="del_data">
                                del data</button>

                        <form id="form_request_headers">
                            <table class="table table-hover table-condensed table-bordered table-striped" id="header">
                                <caption>headers:</caption>
                                <thead>
                                <tr class="active text-success">
                                    <th width="5%" align="center">Option</th>
                                    <th width="40%" align="center">Key</th>
                                    <th width="55%" align="center">Value</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if 'headers' in request.request.keys %}
                                    {% for key, value in request.request.headers.items %}
                                        <tr>
                                            <td><input type="checkbox" name="header" style="width:55px">
                                            </td>
                                            <td><input type="text" name='test[][key]' value="{{ key }}"
                                                       style="width:100%; border: none"></td>
                                            <td><input type="text" name='test[][value]' value="{{ value }}"
                                                       style="width:100%; border: none"></td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </form>
                        <form id="form_request_data">
                            {% if 'json' in request.request.keys %}
                                <span style="font-size:10px;" id="json-text">
                                   <div style="margin-left: 0px; margin-top: 5px; height: 200px">
                                       <pre id="code" class="ace_editor"
                                            style="margin-top: 0px; margin-bottom: 0px; min-height: 200px;">
                                       </pre>
                                   </div>
                                </span>
                            {% else %}
                                <table class="table table-hover table-condensed table-bordered table-striped" id="data">
                                    <caption>request:</caption>
                                    <thead>
                                    <tr class="active text-success">
                                        <th width="5%" align="center">Option</th>
                                        <th width="30%" align="center">Key</th>
                                        <th width="5%" align="center">Type</th>
                                        <th width="60%" align="center">Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if 'data' in request.request.keys %}
                                        {% for key, value in request.request.data.items %}
                                            <tr>
                                                <td><input type="checkbox" name="data" style="width:55px">
                                                </td>
                                                <td><input type="text" name='test[][key]' value="{{ key }}"
                                                           style="width:100%; border: none"></td>
                                                <td><select name='test[][type]'
                                                            class='form-control'
                                                            style='height: 25px; font-size: 15px; padding-top: 0px; padding-left: 0px; border: none'>
                                                </select></td>
                                                <td><input type="text" name='test[][value]' value="{{ value }}"
                                                           style="width:100%; border: none"></td>
                                            </tr>
                                        {% endfor %}
                                    {% elif 'params' in request.request.keys %}
                                        {% for key, value in request.request.params.items %}
                                            <tr>
                                                <td><input type="checkbox" name="data"
                                                           style="width:55px">
                                                </td>
                                                <td><input type="text" name='test[][key]' value="{{ key }}"
                                                           style="width:100%; border: none"></td>
                                                <td><select name='test[][type]'
                                                            class='form-control'
                                                            style='height: 25px; font-size: 15px; padding-top: 0px; padding-left: 0px; border: none'>
                                                </select></td>
                                                <td><input type="text" name='test[][value]' value="{{ value }}"
                                                           style="width:100%; border: none"></td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </form>


                    </div>
                </div>

                <div class="am-tab-panel" id="tab3">
                    <span style="font-size:10px;" id="res">
                       <div style="margin-left: 0px; margin-top: 5px; height: 200px">
                           <pre id="result" class="ace_editor"
                                style="margin-top: 0px; margin-bottom: 0px; min-height: 200px;">
                           </pre>
                       </div>
                    </span>
                </div>
            </div>
        </div>

        <div class="am-form-group am-cf">
            <div class="you" style="margin-left: 11%;">
                <button id='save' type="button" class="am-btn am-btn-success am-radius" onclick="case_ajax('save', editor)">保存
                </button>
            </div>
        </div>

    </div>

    <div class="am-modal am-modal-confirm" tabindex="-1" id="select_env">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">HttpRunnerManager</div>
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="control-label col-sm-3"
                                    style="font-weight: inherit; font-size: small ">运行环境:
                                </label>
                    <div class="col-sm-8">
                        <select class="form-control" id="env_name" name="env_name">
                            <option value="">自带环境</option>
                            <option value="">http://api.sdhh.51lianqian.net:7035</option>
                        </select>
                    </div>
                </div>
            </form>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>

    <script src="../static/assets/js/editcase.js"></script>
    <script src="../static/assets/js/commonfun.js"></script>
{% endblock %}
