<!doctype html>
<html class="no-js" lang="zh-CN">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    {% load staticfiles %}
    <meta name="apple-mobile-web-app-title" content="HttpRunnerManager"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/css/fileinput.css"/>
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/fileinput.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/js/fileinput.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.8/css/fileinput.min.css"/>

    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css"/>
    <link rel="stylesheet" href="{% static 'assets/css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/common.css' %}">

    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ace.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.6/ext-language_tools.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/commons.js' %}"></script>


</head>
<body class="modal-open">

<div class="am-cf admin-main">

    <div class="nav-navicon admin-main admin-sidebar">
        <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;">
            <font size="5">欢迎</font></div>
        <div class="sideMenu">
            <h3 class="am-icon-flag"><em></em><a href="#">项目管理</a></h3>
            <ul>
                <li><a href="/project_list/">项 目 列 表</a></li>
                <li><a href="/addproject/">新 增 项 目</a></li>
            </ul>
            <h3 class="am-icon-bug"><em></em><a href="#">用例管理</a></h3>
            <ul>
                <li><a href="/testlist/">用 例 列 表</a></li>
                <li><a href="/addcase/">新 增 用 例</a></li>
                <li><a href="/test/">试验用</a></li>
            </ul>
            <h3 class="am-icon-gears"><em></em> <a href="#">环境配置</a></h3>
            <ul>
                <li><a href="/env_list/">运 行 环 境</a></li>
                <li><a href="/api/periodictask/1/">定 时 任 务</a></li>
                <li><a href="http://192.168.91.45:5555/dashboard">任 务 监 控</a></li>
            </ul>
            <h3 class="am-icon-gears"><em></em> <a href="#">常用脚本</a></h3>
            <ul>
                <li><a href="/jsontest/">json转换</a></li>
                <li><a href="/api/env_list/1/">Monkey</a></li>
                <li><a href="/api/periodictask/1/">定 时 任 务</a></li>
                <li><a href="http://192.168.91.45:5555/dashboard">任 务 监 控</a></li>
            </ul>
        </div>
    </div>
    {% block content %}
    {% endblock %}

    <script type="text/javascript">
        // jQuery(".sideMenu").slide({
        //     titCell: "h3", //鼠标触发对象
        //     targetCell: "ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
        //     effect: "slideDown", //targetCell下拉效果
        //     delayTime: 300, //效果时间
        //     triggerTime: 150, //鼠标延迟触发时间（默认150）
        //     defaultPlay: true,//默认是否执行效果（默认true）
        //     returnDefault: false //鼠标从.sideMen移走后返回默认状态（默认false）
        // });
    </script>

</div>

</body>
</html>